#jeopardy {
  text-align: center;
  font-size: 9pt;
  background-color: #060ce9;
  color: white;
  border-collapse: collapse;
}

#jeopardy th, #jeopardy td {
  border: solid 1px white;
  width: 12em;
  padding: 1em;
}

th {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  height: 4em;
  text-shadow: darkgoldenrod 1px 1px;
}

td {
  height: 9em;
  font-family: Copse, serif;
}

td:hover {
  cursor: pointer;
}

.buttonload {
  background-color: #4CAF50; 
  border: none; 
  color: white; 
  padding: 12px 16px;
  font-size: 16px 
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.item-1 {
  display: flex;
  justify-content: center;
}

.item-2 {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.game-title {
  display: flex;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 16px solid white; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loader.hidden {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}